body {
  background: radial-gradient(
    592px at 48.2% 50%,
    rgba(255, 255, 249, 0.6) 0%,
    rgb(160, 199, 254) 74.6%
  );
  font-family: "Times New Roman", Times, serif;
}

code {
  font-family: fantasy, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}




